h1,
p {
    text-align: center;
}

#about {
    padding: 20px;
}

#about p {
    padding: 30px;
}

#photo-me {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    height: 30vh;
    width: 100%;
    background-image: url(../img/me_headshot.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
