/* Grid of blog cards */
#blog-posts {
    display: grid;
    /* FIX THIS NUMBER BELOW!!! */
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-template-columns: repeat(auto-fit, 4fr); */
    gap: 40px;
    justify-items: center;
}

/* Blog card */
.blog-card {
    height: 60vw;
    width: 100%;
    background-size: cover;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: center;
    border-radius: var(--border-radius);
}

/* Blog cards background images */
#memademay {
    background-image: url(../img/me-garden.jpg);
}

#flowyskirt {
    background-image: url(../img/me-flower-skirt.jpg);
}

#maxiskirt {
    background-image: url(../img/me-maxi-skirt.jpg);
}

#photo-welcome {
    background-image: url(../img/me-garden.jpg);
}

#photo-maxi-skirt {
    background-image: url(../img/me-maxi-skirt.jpg);
}

#photo-floral-skirt {
    background-image: url(../img/me-flower-skirt.jpg);
}

/* Media Queries */
@media(max-width: 768px) {
    #blog-posts {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width: 500px) {
    #blog-posts {
        grid-template-columns: 1fr;
    }
}
