.blog-post {
    display: grid;
    gap: 20px;
    grid-template-areas: 
        "date date date date"
        "title title title title"
        "img1 img1 img2 img2"
        "text text text text";
    justify-items: center;
    background-color: var(--secondary-color);
}

.blog-post-date {
    grid-area: date;
    text-align: center;
    padding-bottom: 25px;
}

.blog-post-title {
    grid-area: title;
    text-align: center;
    padding-bottom: 25px;
    font-size: 1.5rem;
}

.blog-post-text {
    grid-area: text;
    font-size: 1.2rem;
    padding-top: 15px;
}

.blog-post-img1 {
    grid-area: img1;
    width: 100%;
}

.blog-post-img2 {
    grid-area: img2;
    width: 100%;
}

/* Signature link to about page */
.sig {
    display: block;
    background-image: url(../img/sig.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 75px;
    transition: 0.3s;
}

.sig:hover {
    background-image: url(../img/sig-hover.png);
}

/* Navigation */
.blog-post-nav {
    background-color: var(--primary-color);
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
}

.blog-post-nav a {
    padding: 0 10px;
}

.blog-post-nav a:hover i {
    color: var(--accent-color);
}

.blog-post-nav a .hidden {
    display: none;
}

/* Media queries */
@media(max-width: 768px) {
    .blog-post {
        grid-template-areas: 
        "date"
        "title"
        "img1"
        "img2"
        "text";
    }
}