/* Front page blog spotlight */
#blog-spotlight {
    display: grid;
    grid-template-areas: 
        "p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1"
        "p2 p2 p2 p2 p2 p2 p3 p3 p3 p3 p3 p3";
    gap: 40px;
    justify-items: center;
}

/* Spotlight blog posts */
#post-2019-09-27 {
    grid-area: p1;
    height: 60vw;
    width: 100%;
    background-image: url(../img/fall-fabric-stash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: var(--border-radius);
}

#post-2019-09-20 {
    grid-area: p2;
    height: 60vw;
    width: 100%;
    background-image: url(../img/copy-of-rtw.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: var(--border-radius);
}

#post-2019-09-13 {
    grid-area: p3;
    height: 60vw;
    width: 100%;
    background-image: url(../img/piecing-pdf-pattern.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: var(--border-radius);
}

/* Link to older posts/blog page */
#older-posts {
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;
    font-size: 1.2rem; 
}

#older-posts a {
    text-decoration: none;
    transition: 0.3s;
}

#older-posts a:hover {
    color: var(--accent-color);
}

/* Media queries */
@media(max-width: 750px) {
    #blog-spotlight {
        grid-template-areas: 
        "p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 p1"
        "p2 p2 p2 p2 p2 p2 p2 p2 p2 p2 p2 p2"
        "p3 p3 p3 p3 p3 p3 p3 p3 p3 p3 p3 p3";
        gap: 20px;
    }
    #post-2019-09-20 {
        height: 120vw;
    }
    #post-2019-09-13 {
        height: 120vw;
    }
}