/* Site-wide design */
:root {
    --primary-color: #c8e8f2;
    --secondary-color: #fffffa;
    --accent-color: #784b12;
    --secondary-background-color: rgb(120, 75, 18, 0.75);
    --text-color: #555;
    --border-radius: 2px;
}

/* Site-wide layout */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html {
    background: var(--secondary-color);
}

section {
    background-color: var(--primary-color);
}

article {
    padding: 40px;
}

.container {
    padding: 40px;
    /* padding: 40px 10vw 20px 10vw; */
}

/* Navigation Bar */
.navbar {
    display: flex;
}

.nav-center {
    flex: 1;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    color: var(--text-color);
    display: inline-block;
    padding: 1rem;
    position: relative;
}

.navbar ul li:hover {
    cursor: pointer;
    background: var(--accent-color);
    color: var(--primary-color);
}

.navbar ul li:hover a {
    color: var(--primary-color);
    background: var(--accent-color);
}

.navbar ul li:hover .icon-social {
    color: var(--primary-color);
    background: var(--accent-color);
}

.navbar ul li a {
    color: var(--text-color);
    text-decoration: none;
}

/* Hide nested dropdown menu by default */
.navbar ul li ul {
    display: none;
}

/* Nested dropdown menu */
.navbar ul li:hover ul {
    display: block;
    position: absolute;
    left: 0;
    width: 200px;
    margin-top: 1rem;
}

.navbar ul li:hover ul li {
    display: block;
    background: var(--secondary-color);
}

.navbar ul li:hover ul li a {
    color: var(--text-color);
    background: var(--secondary-color);
}

.navbar ul li:hover ul li:hover {
    background: var(--accent-color);
    color: inherit;
}

.navbar ul li:hover ul li:hover a {
    color: var(--primary-color);
    background: var(--accent-color);
}

/* Banner */
.banner {
    height: 27vw;
    background-image: url('../img/monalucy-banner-narrow.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Buttons */
.btn {
    color: var(--secondary-color);
    text-decoration: none;
    cursor: pointer;
    border: 1px var(--secondary-color) solid;
    background: none;
    padding: .5rem 1rem;
    transition: 0.3s;
}

.btn:hover {
    color: var(--text-color);
    background-color: var(--secondary-color);
}

/* General card layout */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: var(--border-radius);
    transition: 0.3s;
    position: relative;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: var(--border-radius);
}

.card-caption {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.card-caption h4 {
    color: var(--secondary-color);
    padding: 20px;
    background-color: var(--secondary-background-color);
}

/* Footer */
footer {
    margin: 1rem;
    text-align: center;
}

/* Media queries */
@media(max-width: 500px) {
    .container {
        padding: 20px;
    }
    article {
        padding: 20px;
    }
}

@media(max-width: 370px) {
    /* Resize fonts for small mobile */
    .navbar ul {
        font-size: 0.75rem;
    }

}