:root {
    --primary-color: #784b12;
    --secondary-color: #fffffa;
    --text-color: #555;
    /* --text-hover-color: #e99fdf; */
    /* --text-hover-color: #fffffa; */
    /* --text-hover-color: #f3f3ae; */
    --text-hover-color: #9fdef1;
    /* --primary-color: #b82601; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    border: 1px grey solid;
}

html,
body {
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#navbar {
    display: flex;
}

#navbar ul {
    list-style: none;
}

#navbar ul li {
    color: var(--text-color);
    display: inline-block;
    padding: 1rem;
    position: relative;
}

#navbar ul li a {
    color: var(--text-color);
    text-decoration: none;
}

/* Hide nested ul by default */
#navbar ul li ul {
    display: none;
}

#navbar ul li:hover {
    cursor: pointer;
    background: var(--primary-color);
    color: var(--text-hover-color);
}

#navbar ul li:hover a {
    color: var(--text-hover-color);
}

/* Nested dropdown show */
#navbar ul li:hover ul {
    display: block;
    position: absolute;
    left: 0;
    width: 200px;
    margin-top: 1rem;
}

#navbar ul li:hover ul li {
    display: block;
    background: var(--secondary-color);
}

#navbar ul li:hover ul li a {
    color: var(--text-color);
}

#navbar ul li:hover ul li:hover {
    background: var(--primary-color);
    color: inherit;
}

#navbar ul li:hover ul li:hover a {
    color: var(--text-hover-color);
}

#showcase {
    display: flex;
    height: 25vh;
    padding: 0 2rem;
    /* border: 2px red solid; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
    background-image: url('../img/monalucy-banner-narrow.jpg');
    /* background-image: url('../img/monalucy-banner.jpg'); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

footer {
    margin: 1rem;
    text-align: center;
}

/* @media(max-width: 600px) {
    #navbar ul li {
        display: block;
    }
    #navbar ul li:hover {
        width: 100%;
        position: relative;
    }
} */